<header>
	<div class="container">
		<h1>Banana Pancakes</h1>
	</div>
</header>

<div class="container">
	
	<p class="lead">Congratulations, your Brunch project is set up and very yummy. Thanks for using Banana Pancakes!</p>
	
	<div class="row">
		
		<div class="span4">
			<h2>Banana Pancakes I</h2>
			<p><a href="http://allrecipes.com/recipe/banana-pancakes-i/"><img src="http://i.imgur.com/YlAsp.jpg" /></a></p>
			<blockquote>
				<p>Crowd pleasing banana pancakes made from scratch. A fun twist on ordinary pancakes.</p>
				<small><a href="http://allrecipes.com/cook/1871017/profile.aspx">ADDEAN1</a> from <cite title="allrecepies.com">allrecepies.com</cite></small>
			</blockquote>
			<p><a class="btn" href="http://allrecipes.com/recipe/banana-pancakes-i/">View Recipe &raquo;</a></p>
		</div>
		
		<div class="span4">
			<h2>Banana Brown Sugar Pancakes</h2>
			<p><a href="http://allrecipes.com/recipe/banana-brown-sugar-pancakes"><img src="http://i.imgur.com/Yaq7Y.jpg" /></a></p>
			<blockquote>
				<p>This recipe I made because I wanted to use up some instant banana oatmeal I had. I don't use syrup on it because of the sweetness from the oatmeal and brown sugar.</p>
				<small><a href="http://allrecipes.com/cook/10041806/profile.aspx">Nscoober2</a> from <cite title="allrecepies.com">allrecepies.com</cite></small>
			</blockquote>
			<p><a class="btn" href="http://allrecipes.com/recipe/banana-brown-sugar-pancakes">View Recipe &raquo;</a></p>
		</div>
		
		<div class="span4">
			<h2>Banana Pancakes II</h2>
			<p><a href="http://allrecipes.com/recipe/banana-pancakes-ii/"><img src="http://i.imgur.com/dEh09.jpg" /></a></p>
			<blockquote>
				<p>These yummy pancakes are a snap to make.</p>
				<small><a href="http://allrecipes.com/cook/18911/profile.aspx">sal</a> from <cite title="allrecepies.com">allrecepies.com</cite></small>
			</blockquote>
			<p><a class="btn" href="http://allrecipes.com/recipe/banana-pancakes-ii/">View Recipe &raquo;</a></p>
		</div>
		
	</div>
	
</div>
